:root>* {
  body {
    font-family: fantasy;
    background: url("../imatges/01.png") no-repeat center center scroll ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    color: rgb(231, 4, 4);
  }
  h2  {
    font-family: times;
    color: black;
    text-align: center;
  }
}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}
