:root>* {

  --md-footer-fg-color: rgb(250, 0, 179);
  --md-footer-fg-color--lighter:  rgb(255, 102, 0);
  --md-footer-fg-color--light:  rgb(0, 255, 13);
  --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
  --mdc-typography-font-family: 'Be Vietnam', sans-serif;
  --md-typeset-a-color: rgb(12, 240, 190);
}


  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(171, 9, 9);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(34, 255, 0);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

